/* Tophat Styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media (max-width: 900px) {
  .narrow__hide{
    display: none;
  }
}

.header__tophat {
  position: relative;
  background-color: #000000;
  padding: 10px;
  text-align: right;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -3px;
    height: 3px;
    background-color: rgba(0,0,0,0.2);
    z-index: 1020;
  }
  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 9px;
    display: inline-block;
    path {
      fill: #ffffff;
    }
  }
  p {
    margin: 0;
    color: #b3b3b3;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 11px;
    line-height: 16px;
  }
  p a {
    color: #ffffff;
  }
}
// Accounting for the Wordpress Admin bar.
.admin-bar #th-bar {
    top: 32px !important;
}
